* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0f1220;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    height: 100vh;
}

.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3vw;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.3vw;
    border: 0px solid #ffffff;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3vw;
}

.title {
    letter-spacing: 4px;
    font-size: 32px;
    font-weight: bold;
}

canvas {
    background-color: #111;
    border: 3px solid #ffffff;
}

.info {
    font-size: 18px;
}
